.contact_list {
    margin:2em;
    height:100%;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.card
{
    width:40%;
    height:7rem;
    background-color: #282828;
    margin:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    font-size: larger;
    font-weight: bolder;
    padding: 1em;
    min-width: fit-content;
    color: #fff;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.card li {
    list-style: none;
}

.two, .three
{
    color:rgba(255,255,255,0.4)
}
.one
{
    font-size: x-large;
}

.contact_heading
{
    color:#fff;
    font-family: audiowide-regular-webfont;
}
