


#contact_body
{
    background-color: rgba(0,0,0,0.75);
	margin: 0;
	/*min-height: 808px;*/
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.contact_list {
    margin:2em;
    height:100%;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.card
{
    /*
    width:40%;
    height:7rem;
    background-color: #282828;
    margin:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    font-size: larger;
    font-weight: bolder;
    padding: 1em;
    min-width: fit-content;
    color: #fff;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    ------------------------------------------------------------------------------------*/
    width:35%;
    height:7rem;
    margin:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.9em;
    font-size: 1.1em;
    padding: 1em;
    min-width: fit-content;
    font-family: audiowide-regular-webfont;
    color: #fff;
    
    /*-------------------------------------*/
    background: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);

}

.card li {
    list-style: none;
}

.two, .three
{
    color:rgba(255,255,255,0.6);
    
}
.one
{
    font-size: x-large;
    margin-bottom: 0.7em;
}

.contact_heading
{
    color:#fff;
    font-family: audiowide-regular-webfont;
}

@media (max-width:840px)

{
    .card
    {
       width:60%;
    }
}


@media (max-width:380px)
{
    .card
    {
        font-size: medium;
        line-height: 1.6em;
        height:min-content;
        width:100%;
    }
}